/* ------------Media Quares Starts Here------------------ */
@media only screen and (min-device-width: 700px) {
  .about-section-inner-box {
    max-width: 90%;
  }
  .about-section-inner-box {
    min-width: 85%;
  }
}

/* ------------Media Quares Ends Here------------------ */

/* ------------About Section Start Here----------------- */
#about-section-id {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  align-items: center;
  justify-content: space-between;
  padding-top: 10rem;
}
.about-section {
  margin: 3rem 0;
  width: 80%;
}

.about-section h2 h3 p {
  color: #1a1a1a;
}
.about-section h2 {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: bolder;
}
.about-section h3 {
  margin: 0.5rem 0;
  font-size: 1.3rem;
  font-weight: bolder;
}
section h1 {
  font-size: 2rem;
  font-weight: bolder;
  color: #008080;
}

.about-section p {
  font-size: 1.2rem;
  font-weight: 500;
}
/* ------------About Section Ends Here----------------- */
