footer {
  background-color: #0044ad;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#upper-footer-section-div {
  height: auto;
  width: 100%;
  padding: 1rem 0rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.common-section-div {
  width: 60%;
  display: inline-block;
}

.common-section-div p {
  font-size: 1rem;
  font-weight: 400;
}

.common-section-div h3 {
  color: #ff914d;
  padding-bottom: 0.2rem;
  margin-bottom: 0.2rem;
  border-bottom: 2px solid #ff914d;
}

.common-section-div ul li a {
  color: #fff;
}

#social-footer-div ul li a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

footer p {
  font-size: 0.8rem;
  color: #fff;
  font-weight: 500;
  padding: 0.6rem 0rem;
}

footer p a {
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #ff914d;
}

/* Media Queries  start here*/
@media (min-width: 470px) {
  #upper-footer-section-div {
    justify-content: space-evenly;
  }
  #company-footer-div {
    max-width: 150px;
  }
  .common-section-div {
    width: auto;
  }
}
